@font-face {
	font-family: 'Brandon';
	src: url('fonts/brandon_bld.otf') format('opentype'),
	     url('fonts/brandon_reg.otf') format('opentype'),
	     url('fonts/brandon_reg_it.otf') format('opentype');
	font-weight: normal, bold;
	font-style: italic;
}

@font-face {
	font-family: 'Lulo Clean One';
	src: url('fonts/yellow_design_studio_lulo_clean_one.otf') format('opentype'),
		 url('fonts/yellow_design_studio_lulo_clean_one_bold.otf') format('opentype');
	font-weight: normal, bold;
}	


/*******       BODY STYLES      *******/
body {
	background-image: url('images/ksutuscscience-377-larger-resolution.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #CCF;
	width: 100%;
	margin: auto;
	
	font-family: 'Brandon', sans-serif;
	font-weight: normal;
	font-size: 1em;
}


/*******       BACKGROUND STYLES PER PART      *******/
nav, section, footer {
	padding: 0 5%;
	color: #FFF;
}

nav, footer {
	background-color: #E85A36;
}

section {
	background-color: #35343F;
}


/*******       MAX-WIDTH      *******/
header, .top-nav > ul, .content, h1 {
	max-width: 1600px;
	margin: auto;
}


/*******       HEADER STYLES      *******/
header {
	padding: 7% 5% 15%;
}

.logo {
	width: 30%;
}


/*******       NAVIGATION STYLES      *******/
a {
	text-decoration: none;
	font-size: 1em;
}

.top-nav a, 
.terms-privacy a {
	padding: 15px 5px;
	color: #FFF;
}

.top-nav a:visited, 
.terms-privacy a:visited {
	color: #BFBFBF;
}

.top-nav a:hover, 
.terms-privacy a:hover {
	background-color: #35343F;
}
 
.top-nav a:active, a:focus, 
.terms-privacy a:active, a:focus {
	color: #35343F;
}


/*******       LIST STYLES      *******/
ul {
	list-style-type: none;
	padding-left: 0;
}

.top-nav > ul {
	padding: 15px 0;

	font-family: 'Lulo Clean One', sans-serif;
	font-weight: normal;
	font-size: 0.9em;
	text-align: right;
}

.top-nav li {
	display: inline-block;
	padding: 0 10px;
	margin: 0;
}

.icons {
	display: inline-block;
	width: 56%;
	padding-top: 10px;
	position: relative;
}

.icons li {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	padding-left: 5%;
}


/*******       HEADLINE STYLES      *******/
h1 {
	padding: 10px 0 0 0;
	
	font-family: 'Lulo One Clean', sans-serif;
	font-weight: bold;
	font-size: 2em;
}


/*******       SECTION STYLES      *******/
section {
	overflow: hidden;
	padding: 5%;
}

.text {
	float: left;
	max-width: 41%;
	padding: 1.5% 3% 0 0;
	position: relative;
}

.text p {
	font-size: 1.25em;
	margin: 0;
}


/*******       FOOTER STYLES      *******/
footer {
	clear: left;
	padding: 0 5%;
	overflow: hidden;

	font-family: "Lulo Clean One", sans-serif;
	font-weight: normal;
	font-size: .65em;
}

.copyright {
	max-width: 640px;
	width: 45%;
	float: left;
	text-align: left;
}

.copyright p {
	display: inline-block;
	padding-right: 10%;
}

ul.terms-privacy {
	max-width: 640px;
	width: 45%;
	margin: 0;
	padding: 10px 0;
	float: right;
	text-align: right;
}

.terms-privacy li {
	display: inline-block;
	padding-left: 10%;
}










/*******************       MEDIA QUERIES      *******************/

/* Screen Resolution: max -1071px, min - 777px*/
@media screen and (max-width: 1071px) and (min-width: 777px) {
	/*******       BODY STYLES      *******/
	body {
		background-image: url('images/ksutuscscience-377-1100px.jpg');
	}


	/*******       HEADER STYLES      *******/
	.logo {
		width: 30vw;
	}


	/*******       LIST STYLES      *******/
	.top-nav > ul {
		font-size: 0.8em;
	}

	.top-nav li {
		display: inline-block;
		padding: 0 10px;
		margin: 0;
	}

	.icons {
		display: inline-block;
		width: 50%;
		padding-top: 10px;
		position: relative;
	}

	.icons li {
		display: inline-block;
		vertical-align: top;
		width: 20%;
		padding-left: 5%;
	}


	/*******       HEADLINE STYLES      *******/
	h1 {
		padding: 10px 0 0 0;
		
		font-family: 'Lulo One Clean', sans-serif;
		font-weight: bold;
		font-size: 2em;
	}


	/*******       SECTION STYLES      *******/
	section {
		overflow: hidden;
		padding: 5%;
	}

	.text {
		float: left;
		max-width: 50%;
		padding: 1.5% 0 0 0;
		position: relative;
	}

	.text p {
		font-size: 1em;
		margin: 0;
	}


	/*******       FOOTER STYLES      *******/
	.copyright {
		width: 40%;
	}

	.copyright p {
		padding-right: 10%;
	}

	.terms-privacy {
		width: 40%;
	}

	.terms-privacy li {
		padding-left: 10%;
	}
}



/* Screen Resolution: max - 600px, min - 320px */
@media screen and (max-width: 600px) and (min-width: 320px) {

